.git
.gitignore
.gitattributes
*.md
.vscode
.idea
.devcontainer
.cursor
.pytest_cache
__pycache__
tests
build-docs
site
docs
Makefile
pyproject.toml
.agents
.claude
.zed
.cursorrules
.windsurfrules
.codespellrc
.gitleaks.toml
.markdownlint.json
.pre-commit-config.yaml
