# FileFlows Port (FileFlows web UI runs on host port 19200 by default)
PORT=19200

# Timezone (e.g. UTC, America/New_York, Europe/Berlin, etc.)
TZ=UTC

# User and Group ID to run the container process as
PUID=1000
PGID=1000
